[defaults]
inventory           = ./inventory/hosts.ini
deprecation_warnings = False
interpreter_python   = auto_silent
remote_user         = ansible
private_key_file    = /home/ansible/.ssh/id_ed25519
forks               = 10
host_key_checking   = False
stdout_callback     = default
result_format       = yaml
log_path            = /home/ansible/ansible/ansible.log

[privilege_escalation]
become              = true
become_method       = sudo
become_user         = root
become_ask_pass     = false
